mysql:
  architecture: standalone
  auth:
    createDatabase: true
    database: wordpress
    username: andy
  
  primary:
    persistence:
      enabled: true
      storageClass: longhorn
      size: 10Gi #default 20Gi

  metrics:
    enabled: false # Will enable later

redis:
  architecture: standalone
  auth:
    enabled: true
  master:
    persistence:
      enabled: true
      storageClass: longhorn
      accessMode: ["ReadWriteMany"]
      size: 5Gi

wordpress:
  replicaCount: 1

  # wordpressUsername: admin
  # wordpressPassword: admin123
  # wordpressEmail: hoang.tlta17@gmail.com
  # wordpressFirstName: tlta
  # wordpressLastName: Hoang
  # wordpressBlogName: "hiroschem"
  wordpressPlugins: all
  allowEmptyPassword: false
  wordpressScheme: http
  wordpressEnableHttps: no
  initContainers: []
  resources:
    limits: 
      cpu: 350m
      memory: 1.5Gi
    requests:
      cpu: 50m
      memory: 100Mi

  # Disable persistence to make it stateless
  persistence:
    enabled: true
    storageClass: longhorn
    size: 12Gi
    accessMode: ["ReadWriteMany"]

  mariadb:
    enabled: false  # Disable built-in MariaDB

  # Connect to MySQL
  externalDatabase:
    database: wordpress

  wordpressConfigureCache: true
  memcached:
    enabled: false
  
  externalCache::
    host: wordpress-stack-redis-master
    port: 6379

  wordpressSkipInstall: false

  service:
    type: ClusterIP

  ingress:
    enabled: true
    hostname: wp.tlta.online
    ingressClassName: nginx
    annotations: 
      nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
      nginx.ingress.kubernetes.io/use-forwarded-headers: "true"