networks:
  web:
    name: web
    external: false
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16 # Static Docker bridge network subnet
  enx:
    driver: macvlan
    external: false
    driver_opts:
      parent: enx00e04c8807d8  # Second NIC
    ipam:
      config:
        - subnet: 192.168.1.0/24
          gateway: 192.168.1.1
          ip_range: 192.168.1.111/32

services:

  nginx-failover:
    image: nginx:alpine
    mem_limit: 15m
    container_name: nginx-failover
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      ################################################################################
      # HTTPS CONFIGURATION - Main
      ################################################################################
      - "traefik.http.routers.main-https.rule=Host(`tlta.online`)"
      - "traefik.http.routers.main-https.entrypoints=websecure"
      - "traefik.http.routers.main-https.tls=true"
      - "traefik.http.routers.main-https.tls.certresolver=letsencrypt"
      - "traefik.http.routers.main-https.service=main-https"
      - "traefik.http.routers.main-https.middlewares=crowdsec-main-https@docker" 
      - "traefik.http.middlewares.crowdsec-main-https.plugin.crowdsec-bouncer.enabled=true"
      - "traefik.http.middlewares.crowdsec-main-https.plugin.crowdsec-bouncer.crowdseclapikey=${LAPI_KEY}"

      - "traefik.http.services.main-https.loadbalancer.server.port=80"

    ports:
      - "8081:80"
    volumes:
      - ./nginx:/usr/share/nginx/html:ro
    networks:
      web:
        ipv4_address: 172.20.0.2  # Static IP on the bridge
  
  cloudflare-ddns:
    image: favonia/cloudflare-ddns:latest
    container_name: ddns-cloudflare
    restart: always
    # Restart the updater after reboot
    user: "1000:1000"
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: '128M'
        reservations:
          memory: '64M' 
    read_only: true
    cap_drop: [all]
    security_opt: [no-new-privileges:true]
    networks:
      web:
        ipv4_address: 172.20.0.3  # Static IP on the bridge
    environment:
      - CLOUDFLARE_API_TOKEN=${CLOUDFLARE_API_TOKEN}
      - DOMAINS=${DOMAINS}
      - PROXIED=true
  
  #NAS file browser Quantum
  filebrowser:
    container_name: nas
    image: gtstef/filebrowser:beta
    deploy:
      resources:
        limits:
          cpus: 1    # Limit to 50% of a single CPU core
          memory: '1G'   # Limit memory to 512MB
        reservations:
          cpus: '0.25'   # Guarantee 25% of a CPU core
          memory: 128M 
    environment:
      FILEBROWSER_CONFIG: "data/config.yaml" # overrides the default path which is ./config.yaml
      FILEBROWSER_ADMIN_PASSWORD: ${FILE_MANAGER_QUANTUM_PASSWORD}
      TZ: "Asia/Ho_Chi_Minh"
    user: filebrowser
    restart: unless-stopped
    volumes:
      - /home/andy/filemanager:/folder # Do not use a root "/" directory or include the "/var" folder
      - ./filebrowser/data:/home/filebrowser/data
    ports:
      - 8082:80
    networks:
      web:
        ipv4_address: 172.20.0.4  # Static IP on the bridge
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web"
      ################################################################################
      # HTTPS CONFIGURATION - NAS
      ################################################################################
      - "traefik.http.routers.nas-https.rule=Host(`nas.tks-cluster.tlta.online`)"
      - "traefik.http.routers.nas-https.entrypoints=websecure"
      - "traefik.http.routers.nas-https.service=nas-https"

      - "traefik.http.services.nas-https.loadbalancer.server.port=80"

  traefik-v2:
    image: traefik:v3.6
    mem_limit: 256m
    cpus: 0.5
    container_name: reverse-proxy
    restart: always
    ports:
      - "443:443/tcp"
      - "443:443/udp"
      - "8085:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/letsencrypt:/letsencrypt
      - traefik-data:/etc/traefik
      - ./traefik/logs:/var/log/traefik
    networks:
      web:
        ipv4_address: 172.20.0.5  # Static IP on the bridge
    logging:
      driver: "json-file"
      options:
        max-size: "2m"
        max-file: "5"
    depends_on:
      - crowdsec
    security_opt:
      - no-new-privileges:true
    command:
      - "--log.level=INFO"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--api.insecure=true"

      # Define entrypoints for HTTPS
      - "--entryPoints.websecure.address=:443"

      # Set up LetsEncrypt certificate resolver
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge=true"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge.provider=cloudflare"
      - "--certificatesResolvers.letsencrypt.acme.dnschallenge.resolvers=1.1.1.1:53,1.0.0.1:53"
      - "--certificatesResolvers.letsencrypt.acme.dnschallenge.delayBeforeCheck=20"
      - "--certificatesresolvers.letsencrypt.acme.email=${CF_API_EMAIL}"
      - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"

      - "--entrypoints.websecure.http.tls=true"
      - "--entrypoints.websecure.http.tls.certResolver=letsencrypt"
      - "--entrypoints.websecure.http.tls.domains[0].main=*.tlta.online"
      - "--entrypoints.websecure.http.tls.domains[0].sans=*.tks-cluster.tlta.online"

      # --- CROWDSEC PLUGIN CONFIGURATION ---
      - --experimental.plugins.crowdsec-bouncer.modulename=github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
      - --experimental.plugins.crowdsec-bouncer.version=v1.2.1
    environment:
      - CF_API_EMAIL=${CF_API_EMAIL}
      - CF_DNS_API_TOKEN=${CF_DNS_API_TOKEN}
    labels:
      - "traefik.enable=true"

      ################################################################################
      # MIDDLEWARE CONFIGURATION - MinIO
      ################################################################################
      # Redirect middleware (shared)
      - "traefik.http.middlewares.minio-redirect-https.redirectscheme.scheme=https"
      - "traefik.http.middlewares.minio-redirect-https.redirectscheme.permanent=true"
      
      # Headers middleware for MinIO-API 
      - "traefik.http.middlewares.minio-api-headers.headers.customrequestheaders.X-Real-IP="
      - "traefik.http.middlewares.minio-api-headers.headers.customrequestheaders.X-Forwarded-For="
      - "traefik.http.middlewares.minio-api-headers.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.middlewares.minio-api-headers.headers.customrequestheaders.X-Forwarded-Host=minio-api.tks-cluster.tlta.online"
      
      # Headers middleware for MinIO-Console
      - "traefik.http.middlewares.minio-console-headers.headers.customrequestheaders.X-Real-IP="
      - "traefik.http.middlewares.minio-console-headers.headers.customrequestheaders.X-Forwarded-For="
      - "traefik.http.middlewares.minio-console-headers.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.middlewares.minio-console-headers.headers.customrequestheaders.X-Forwarded-Host=minio.tks-cluster.tlta.online"
      
      ################################################################################
      # SERVICE - LOAD BALANCER CONFIGURATION
      ################################################################################
      # MinIO-API Service (Port 9000)
      - "traefik.http.services.minio-api-https.loadbalancer.server.url=http://192.168.10.40"
      - "traefik.http.services.minio-api-https.loadbalancer.passhostheader=true"
      
      # MinIO-Console Service (Port 9001)
      - "traefik.http.services.minio-console-https.loadbalancer.server.url=http://192.168.10.40"
      - "traefik.http.services.minio-console-https.loadbalancer.passhostheader=true"
      
      ################################################################################
      # HTTPS CONFIGURATION - MinIO-API (minio-api.tks-cluster.tlta.online)
      ################################################################################
      - "traefik.http.routers.minio-api-https.rule=Host(`minio-api.tks-cluster.tlta.online`)"
      - "traefik.http.routers.minio-api-https.entrypoints=websecure"
      - "traefik.http.routers.minio-api-https.tls=true"
      - "traefik.http.routers.minio-api-https.tls.certresolver=letsencrypt"
      - "traefik.http.routers.minio-api-https.service=minio-api-https"
      - "traefik.http.routers.minio-api-https.middlewares=minio-api-headers"
      
      ################################################################################
      # HTTPS CONFIGURATION - MinIO-Console (minio.tks-cluster.tlta.online)
      ################################################################################
      - "traefik.http.routers.minio-console-https.rule=Host(`minio.tks-cluster.tlta.online`)"
      - "traefik.http.routers.minio-console-https.entrypoints=websecure"
      - "traefik.http.routers.minio-console-https.tls=true"
      - "traefik.http.routers.minio-console-https.tls.certresolver=letsencrypt"
      - "traefik.http.routers.minio-console-https.service=minio-console-https"
      - "traefik.http.routers.minio-console-https.middlewares=minio-console-headers"

      ################################################################################
      # HTTPS CONFIGURATION - Longhorn
      ################################################################################
      - "traefik.http.routers.longhorn-https.rule=Host(`longhorn.tks-cluster.tlta.online`)"
      - "traefik.http.routers.longhorn-https.entrypoints=websecure"
      - "traefik.http.routers.longhorn-https.tls=true"
      - "traefik.http.routers.longhorn-https.tls.certresolver=letsencrypt"
      - "traefik.http.routers.longhorn-https.service=longhorn-https"
      - "traefik.http.routers.longhorn-https.middlewares=longhorn-headers"
     
      ################################################################################
      # MIDDLEWARE CONFIGURATION - longhorn Headers
      ################################################################################
      # Redirect middleware
      - "traefik.http.middlewares.longhorn-redirect-https.redirectscheme.scheme=https"
      - "traefik.http.middlewares.longhorn-redirect-https.redirectscheme.permanent=true"
      
      # Headers middleware for longhorn
      - "traefik.http.middlewares.longhorn-headers.headers.customrequestheaders.X-Real-IP="
      - "traefik.http.middlewares.longhorn-headers.headers.customrequestheaders.X-Forwarded-For="
      - "traefik.http.middlewares.longhorn-headers.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.middlewares.longhorn-headers.headers.customrequestheaders.X-Forwarded-Host=longhorn.tks-cluster.tlta.online"
      
      ################################################################################
      # SERVICE - LOAD BALANCER CONFIGURATION - longhorn
      ################################################################################
      - "traefik.http.services.longhorn-https.loadbalancer.server.url=http://192.168.10.40"
      - "traefik.http.services.longhorn-https.loadbalancer.passhostheader=true"
  
  crowdsec:
    image: crowdsecurity/crowdsec
    container_name: crowdsec
    mem_limit: 128m
    cpus: 0.15
    restart: always
    networks:
      web:
        ipv4_address: 172.20.0.9  # Static IP on the bridge
    expose:
      - "8080"
    environment:
      COLLECTIONS: "crowdsecurity/nginx"
      GID: "${GID-1000}"
    volumes:
      - ./crowdsec:/etc/crowdsec
      - crowdsec-db:/var/lib/crowdsec/data/
      - ./traefik/logs:/var/log/traefik # Traefik logs for crowdsec bouncer
    labels:
      - traefik.enable=false

  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:14
    container_name: wireguard-vpn
    deploy:
      resources:
        limits:
          cpus: 1    # Limit to 50% of a single CPU core
          memory: '1G'   # Limit memory to 512MB
        reservations:
          cpus: '0.25'   # Guarantee 25% of a CPU core
          memory: 128M   
    environment:
      - PASSWORD_HASH=${WG_EASY_PASSWORD}
      - WG_HOST=${WG_DOMAIN}
      - WG_DEFAULT_DNS=192.168.1.111 #Adguard DNS server
      - WG_DEVICE=${WG_DEVICE} #eth0 - check: ip route get 1.1.1.1 | awk '{print $5}' |  Turn off Cloudflare DNS record proxy for WG_DOMAIN
      - WG_MTU=1420
    networks:
      web:
        ipv4_address: 172.20.0.6  # Static IP on the bridge
    volumes:
      - etc_wireguard:/etc/wireguard
      - /lib/modules:/lib/modules:ro
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.WireGuardService.loadbalancer.server.port=51821"
      - "traefik.http.routers.WireGuardRouteSSL.service=WireGuardService"
      - "traefik.http.routers.WireGuardRouteSSL.rule=Host(`wg-vpn.tlta.online`)"
      - "traefik.http.routers.WireGuardRouteSSL.entrypoints=websecure"
      - "traefik.http.routers.WireGuardRouteSSL.tls.certresolver=letsencrypt"
      - "traefik.http.routers.WireGuardRouteSSL.middlewares=crowdsec-WireGuardRouteSSL@docker" 
      - "traefik.http.middlewares.crowdsec-WireGuardRouteSSL.plugin.crowdsec-bouncer.enabled=true"
      - "traefik.http.middlewares.crowdsec-WireGuardRouteSSL.plugin.crowdsec-bouncer.crowdseclapikey=${LAPI_KEY}"

  adguard:
    image: adguard/adguardhome
    container_name: adguard
    mem_limit: 256m
    cpus: 0.15
    restart: unless-stopped
    networks:
      web:
        ipv4_address: 172.20.0.10  # Static IP on the bridge
      enx:
        ipv4_address: 192.168.1.111 # Static IP on the second NIC
    volumes:
      - ./adguard-work:/opt/adguardhome/workververver
      - ./adguard-conf:/opt/adguardhome/conf

  portainer:
    container_name: portainer
    image: portainer/portainer-ce:2.33.6
    restart: unless-stopped
    command: -H unix:///var/run/docker.sock
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: '128M'
        reservations:
          memory: '64M' 
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:  
      web:
        ipv4_address: 172.20.0.8  # Static IP on the bridge
    depends_on:
      - traefik-v2
    ports:
      - 9443:9443
    labels:
      # Frontend
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`portainer.tks-cluster.tlta.online`)"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.services.frontend.loadbalancer.server.port=9000"
      - "traefik.http.routers.frontend.service=frontend"
      - "traefik.http.routers.frontend.tls.certresolver=letsencrypt"

      # Edge
      - "traefik.http.routers.edge.rule=Host(`edge-portainer.tks-cluster.tlta.online`)"
      - "traefik.http.routers.edge.entrypoints=websecure"
      - "traefik.http.services.edge.loadbalancer.server.port=8000"
      - "traefik.http.routers.edge.service=edge"
      - "traefik.http.routers.edge.tls.certresolver=letsencrypt"
        
volumes:
  # pihole-data:
  #   external: true # Use volume
  traefik-data:
    name: traefik-data
  etc_wireguard:
    name: etc_wireguard
  adguard-work:
    name: adguard-work
  portainer_data:
    name: portainer_data
  crowdsec-db:
    name: crowdsec-db