networks:
  web:
    driver: bridge
  macvlan_net:
    driver: macvlan
    driver_opts:
      parent: eth0  # <-- your host's network interface name
    ipam:
      config:
        - subnet: 192.168.1.0/24
          gateway: 192.168.1.1
          ip_range: 192.168.1.96/29 # Optional small range for Docker (192.168.1.97–103)

services:
  traefik:
    image: traefik:v3.1
    container_name: reverse-proxy
    restart: unless-stopped
    ports:
      - "80:80"     # Router forwards external 80 → host 80 → container 80
      - "443:443"   # Router forwards external 443 → host 443 → container 443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./traefik/dynamic:/etc/traefik/dynamic:ro
      - ./traefik/letsencrypt:/letsencrypt
    networks:
      - web

  nginx-failover:
    image: nginx:alpine
    container_name: nginx-failover
    restart: unless-stopped
    ports:
      - "8081:80"
    volumes:
      - ./nginx:/usr/share/nginx/html:ro
    networks:
      - web

  pihole:
      image: pihole/pihole:2025.07.1
      container_name: pihole
      hostname: pihole
      restart: unless-stopped
      networks:
        macvlan_net:
          ipv4_address: 192.168.1.98
      environment:
        TZ: "Asia/Ho_Chi_Minh"
        WEBPASSWORD: ${PIHOLE_PASSWORD}
        DNSMASQ_LISTENING: "all"
        PIHOLE_DNS_: "1.1.1.1;8.8.8.8"
        ADLISTS_URL: 'https://raw.githubusercontent.com/hagezi/dns-blocklists/main/adblock/pro.txt'
      volumes:
        - ./pihole/etc-pihole:/etc/pihole
        - ./pihole/etc-dnsmasq.d:/etc/dnsmasq.d
      cap_add:
        - NET_ADMIN
