networks:
  web:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16 # Static Docker bridge network subnet
  # macvlan_net:
  #   external: true

services:
  traefik:
    image: traefik:v3.1
    mem_limit: 256m
    cpus: 0.5
    container_name: reverse-proxy
    restart: unless-stopped
    ports:
      - "80:80"     # Router forwards external 80 → host 80 → container 80
      - "443:443"   # Router forwards external 443 → host 443 → container 443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./traefik/dynamic:/etc/traefik/dynamic:ro
      - ./traefik/letsencrypt:/letsencrypt
      - traefik-data:/etc/traefik
    networks:
      - web
    logging:
      driver: "json-file"
      options:
        max-size: "2m"
        max-file: "5"
    command:
      # EntryPoints
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.websecure.http.tls=true"

      # Attach the static configuration tls.yaml file that contains the tls configuration settings
      # - "--providers.file.filename=/dynamic/tls.yaml"

      # Providers 
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=web"
      - "--providers.file.directory=/etc/traefik/dynamic/e"

        # ... other command arguments ...
      - "--certificatesresolvers.le.acme.email=hoang.tlta17@gmail.com"
      - "--certificatesresolvers.le.acme.storage=/letsencrypt/acme.json" # Path inside container volume
      - "--certificatesresolvers.le.acme.httpchallenge.entrypoint=web"

      # API & Dashboard 
      - "--api.dashboard=false"
      - "--api.insecure=false"

      # Observability 
      - "--log.level=INFO"
      - "--accesslog=true"
      - "--metrics.prometheus=false"

  # Traefik Dynamic configuration via Docker labels
    labels:
      - "traefik.enable=true"
      ################################################################################
      ############### WORDPRESS SITE ROUTE ################
      ################################################################################
      # Router
      - "traefik.http.routers.wordpress-route.rule=Host(`wp.tks-dev01.tlta.online`)"
      - "traefik.http.routers.wordpress-route.entrypoints=websecure"
      - "traefik.http.routers.wordpress-route.tls=true"

        # Service forwarding to your WordPress node
      - "traefik.http.services.wordpress-route.loadbalancer.server.url=http://192.168.10.40"

      # ---------- MIDDLEWARES ----------
      - "traefik.http.middlewares.wordpress-headers.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.middlewares.wordpress-headers.headers.customrequestheaders.X-Forwarded-Host=wp.tks-dev01.tlta.online"
      - "traefik.http.middlewares.wordpress-headers.headers.customrequestheaders.X-Forwarded-Port=443"

      # Attach middleware to router
      - "traefik.http.routers.wordpress-route.middlewares=wordpress-headers"

    
  nginx-failover:
    image: nginx:alpine
    mem_limit: 50m
    cpus: 0.25
    container_name: nginx-failover
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nginx-failover.rule=Host(`tlta.online`)"
      - "traefik.http.routers.nginx-failover.entrypoints=websecure"
      - "traefik.http.routers.nginx-failover.tls=true"
    ports:
      - "8081:80"
    volumes:
      - ./nginx:/usr/share/nginx/html:ro
    networks:
      - web

  # pihole:
  #     image: pihole/pihole:2025.07.1
  #     mem_limit: 256m
  #     cpus: 0.5
  #     container_name: pihole
  #     hostname: pihole
  #     restart: unless-stopped
  #     networks:
  #       macvlan_net:
  #         ipv4_address: 192.168.1.98
  #     ports:
  #       # DNS Ports
  #       - "53:53/tcp"
  #       - "53:53/udp"
  #       # Default HTTP Port
  #       - "80:80/tcp"
  #       # Default HTTPs Port. FTL will generate a self-signed certificate
  #       - "443:443/tcp"
  #       # Uncomment the below if using Pi-hole as your DHCP Server
  #       - "67:67/udp"
  #     environment:
  #       TZ: "VN"
  #       FTLCONF_webserver_api_password: ${PIHOLE_PASSWORD}
  #       DNSMASQ_LISTENING: "all"
  #       FTLCONF_dns_upstreams: '1.1.1.1;1.0.0.1;2606:4700:4700::1111;2606:4700:4700::1001' #cloudflare DNS
  #       #FTLCONF_dns_upstreams: '9.9.9.9;149.112.112.112' #Quad9 DNS
  #     volumes:
  #       - pihole-data:/etc/pihole
  #     cap_add:
  #       - NET_ADMIN
  #     healthcheck:
  #       test: ["CMD", "dig", "@127.0.0.1", "google.com"]
  #       interval: 1m
  #       timeout: 10s
  #       retries: 3
  #     logging:
  #       driver: "json-file"
  #       options:
  #         max-size: "10m"
  #         max-file: "3"
        
volumes:
  pihole-data:
    external: true # Use volume
  traefik-data:
    external: true # Use volume