networks:
  web:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16 # Static Docker bridge network subnet
  macvlan_net:
    external: true

services:
  traefik:
    image: traefik:v3.1
    mem_limit: 256m
    cpus: 0.5
    container_name: reverse-proxy
    restart: unless-stopped
    ports:
      - "80:80"     # Router forwards external 80 → host 80 → container 80
      - "443:443"   # Router forwards external 443 → host 443 → container 443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./traefik/dynamic:/etc/traefik/dynamic:ro
      - ./traefik/letsencrypt:/letsencrypt
      - traefik-data:/etc/traefik
    networks:
      - web
    logging:
      driver: "json-file"
      options:
        max-size: "2m"
        max-file: "5"
    
  nginx-failover:
    image: nginx:alpine
    mem_limit: 50m
    cpus: 0.25
    container_name: nginx-failover
    restart: unless-stopped
    ports:
      - "8081:80"
    volumes:
      - ./nginx:/usr/share/nginx/html:ro
    networks:
      - web

  pihole:
      image: pihole/pihole:2025.07.1
      mem_limit: 256m
      cpus: 0.5
      container_name: pihole
      hostname: pihole
      restart: unless-stopped
      networks:
        macvlan_net:
          ipv4_address: 192.168.1.98
      ports:
        # DNS Ports
        - "53:53/tcp"
        - "53:53/udp"
        # Default HTTP Port
        - "80:80/tcp"
        # Default HTTPs Port. FTL will generate a self-signed certificate
        - "443:443/tcp"
        # Uncomment the below if using Pi-hole as your DHCP Server
        - "67:67/udp"
      environment:
        TZ: "VN"
        FTLCONF_webserver_api_password: ${PIHOLE_PASSWORD}
        DNSMASQ_LISTENING: "all"
        FTLCONF_dns_upstreams: '1.1.1.1;1.0.0.1;2606:4700:4700::1111;2606:4700:4700::1001' #cloudflare DNS
        #FTLCONF_dns_upstreams: '9.9.9.9;149.112.112.112' #Quad9 DNS
      volumes:
        - pihole-data:/etc/pihole
      cap_add:
        - NET_ADMIN
      healthcheck:
        test: ["CMD", "dig", "@127.0.0.1", "google.com"]
        interval: 1m
        timeout: 10s
        retries: 3
      logging:
        driver: "json-file"
        options:
          max-size: "10m"
          max-file: "3"
        
volumes:
  pihole-data:
    external: true # Use volume
  traefik-data:
    external: true # Use volume