networks:
  web:
    driver: bridge
  macvlan_net:
    external: true

services:
  traefik:
    image: traefik:v3.1
    container_name: reverse-proxy
    restart: unless-stopped
    ports:
      - "80:80"     # Router forwards external 80 → host 80 → container 80
      - "443:443"   # Router forwards external 443 → host 443 → container 443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./traefik/dynamic:/etc/traefik/dynamic:ro
      - ./traefik/letsencrypt:/letsencrypt
    networks:
      - web

  nginx-failover:
    image: nginx:alpine
    container_name: nginx-failover
    restart: unless-stopped
    ports:
      - "8081:80"
    volumes:
      - ./nginx:/usr/share/nginx/html:ro
    networks:
      - web

  pihole:
      image: pihole/pihole:2025.07.1
      container_name: pihole
      hostname: pihole
      restart: unless-stopped
      networks:
        macvlan_net:
          ipv4_address: 192.168.1.98
      ports:
        # DNS Ports
        - "53:53/tcp"
        - "53:53/udp"
        # Default HTTP Port
        - "80:80/tcp"
        # Default HTTPs Port. FTL will generate a self-signed certificate
        - "443:443/tcp"
        # Uncomment the below if using Pi-hole as your DHCP Server
        - "67:67/udp"
      environment:
        TZ: "VN"
        FTLCONF_webserver_api_password: ${PIHOLE_PASSWORD}
        DNSMASQ_LISTENING: "all"
        FTLCONF_dns_upstreams: "1.1.1.1;8.8.8.8"
      volumes:
        - ./pihole/etc-pihole:/etc/pihole
      cap_add:
        - NET_ADMIN
