http:
  routers:
    root:
      rule: "Host(`tlta.online`)"
      service: default
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt
    wordpress:
      rule: "Host(`wp.tks-dev01.tlta.online`)"
      service: wordpress
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt

  services:
    default:
      loadBalancer:
        servers:
          - url: "http://172.20.0.1:8081"

    # combine both with failover logic
    wordpress:
      loadBalancer:
        passHostHeader: true
        servers:
          - url: "http://192.168.10.40"      

#failover:
       # service: wordpress-ui-service
        #fallback: wordpress-failover #Maintain a fallback to a maintenance page
        
    # wordpress routing
    wordpress-ui-service:
      loadBalancer:
        passHostHeader: true
        servers:
           - url: "http://192.168.10.40"

    # fallback static page
    wordpress-failover:
      loadBalancer:
        healthCheck:
          path: "/"
          timeout: "3s"
        servers:
          - url: "http://172.20.0.1:8081" #Default Nginx static page on Dcoker bridge network

