http:
  routers:
    root:
      rule: "Host(`tlta.online`)"
      service: default
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt
    n8n:
      rule: "Host(`n8n.tlta.online`)"
      service: n8n
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt

  services:
    default:
      loadBalancer:
        servers:
          - url: "http://172.19.0.1:8081"

    # combine both with failover logic
    n8n:
      failover:
        healthCheck: {}
        service: n8n-main
        fallback: n8n-failover #Maintain a fallback to a maintenance page
        
    # n8n routing
    n8n-main:
      loadBalancer:
        healthCheck:
          path: "/"
          timeout: "3s"
        servers:
          - url: "http://192.168.1.68:31496"

    # fallback static page
    n8n-failover:
      loadBalancer:
        healthCheck:
          path: "/"
          timeout: "3s"
        servers:
          - url: "http://172.19.0.1:8081" #Default Nginx static page on Dcoker bridge network

