http:
  routers:
    root:
      rule: "Host(`tlta.online`)"
      service: default
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt
    longhorn:
      rule: "Host(`longhorn.tks.tlta.online`)"
      service: longhorn
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt

  services:
    default:
      loadBalancer:
        servers:
          - url: "http://172.20.0.1:8081"

    # combine both with failover logic
    longhorn:
      failover:
        healthCheck: {}
        service: longhorn-ui-service
        fallback: longhorn-failover #Maintain a fallback to a maintenance page
        
    # longhorn routing
    longhorn-ui-service:
      loadBalancer:
        healthCheck:
          path: "/"
          timeout: "3s"
        servers:
          - url: "http://192.168.10.60:80" #Longhorn UI

    # fallback static page
    longhorn-failover:
      loadBalancer:
        healthCheck:
          path: "/"
          timeout: "3s"
        servers:
          - url: "http://172.20.0.1:8081" #Default Nginx static page on Dcoker bridge network

