global:
  imageRegistry: "public.ecr.aws"
  storageClass: longhorn
  security:
    allowInsecureImages: true

mysql:
  architecture: standalone
  auth:
    createDatabase: true
    database: wordpress
    username: andy
    # existingSecret: wordpress-stack-secrets #Deloyed via 1st

  primary:
    persistence:
      enabled: true
      storageClass: longhorn
      size: 20Gi

  metrics:
    enabled: false # Will enable later

redis:
  architecture: standalone
  auth:
    enabled: true
  master:
    persistence:
      enabled: true
      storageClass: longhorn
      accessMode: ["ReadWriteMany"]
      size: 5Gi

minio:
  auth: {}
  mode: standalone
  statefulset:
    replicaCount: 2
  persistence:
    enabled: true
    storageClass: longhorn
    size: 8Gi
  ingress:
    enabled: true
    ingressClassName: nginx
    hostname: minio.tks-dev01.lab

wordpress:
  replicaCount: 1

  # wordpressUsername: admin
  # wordpressPassword: admin123
  wordpressEmail: hoang.tlta17@gmail.com
  wordpressFirstName: tlta
  wordpressLastName: Hoang
  wordpressBlogName: "hiroschem"
  wordpressScheme: https
  wordpressPlugins: all
  allowEmptyPassword: false

  initContainers: []
  resources: {}

  # Disable persistence to make it stateless
  persistence:
    enabled: true
    storageClass: longhorn
    size: 5Gi
    accessMode: ["ReadWriteMany"]

  mariadb:
    enabled: false  # Disable built-in MariaDB

  # Connect to MySQL
  externalDatabase:
    database: wordpress

  wordpressConfigureCache: true
  memcached:
    enabled: false
  
  externalCache::
    host: wordpress-stack-redis-master
    port: 6379

  wordpressSkipInstall: true
  # wordpressExtraConfigContent: |
  #       # define('WP_REDIS_HOST', 'redis-service');
  #       # define('WP_REDIS_PORT', 6379);
  #       # define('WP_REDIS_PASSWORD', getenv('REDIS_PASSWORD'));
  #       # define('WP_REDIS_DATABASE', 0);
  #       # define('WP_CACHE_KEY_SALT', 'wordpress_');
  #       # define('WP_REDIS_CLIENT', 'phpredis');

  #       # define('AS3CF_SETTINGS', serialize(array(
  #       #   'provider' => 'aws',
  #       #   'access-key-id' => getenv('MINIO_ROOT_USER'),
  #       #   'secret-access-key' => getenv('MINIO_ROOT_PASSWORD'),
  #       #   )));
  #       # define('AS3CF_AWS_USE_EC2_IAM_ROLE', false);
  #       # define('AS3CF_AWS_S3_BUCKET', 'wordpress-media');
  #       # define('AS3CF_AWS_S3_REGION', 'us-east-1');
  #       # define('AS3CF_AWS_S3_ENDPOINT', 'http://minio-service:9000');
  #       # define('AS3CF_AWS_S3_USE_PATH_STYLE_ENDPOINT', true);

  #       # if (isset($_SERVER['HTTP_X_FORWARDED_PROTO']) && $_SERVER['HTTP_X_FORWARDED_PROTO'] === 'https') {
  #       #     $_SERVER['HTTPS'] = 'on';
  #       # }
  #       # define('FORCE_SSL_ADMIN', true);
  #   define('WP_HOME','https://wp.tks-dev01.tlta.online');
  #   define('WP_SITEURL','https://wp.tks-dev01.tlta.online');
  
  # wordpressExtraConfigContent: |                                                                                                                                                        
  #   $_SERVER["HTTPS"] = "on";

  wordpressConfiguration: ""

  extraEnvVars:  
    - name: MINIO_ROOT_USER
      valueFrom:
        secretKeyRef:
          name: wordpress-stack-minio
          key: root-user
    - name: MINIO_ROOT_PASSWORD
      valueFrom:
        secretKeyRef:
          name: wordpress-stack-minio
          key: root-password
    
    # Pull Redis password from separate secret
    - name: REDIS_PASSWORD
      valueFrom:
        secretKeyRef:
          name: wordpress-stack-redis
          key: redis-password
  
  extraVolumes: 
    - name: wp-config
      configMap:
        name: wordpress-wp-config-php-init

  extraVolumesMounts: 
    - name: wp-config
      mountPath: /opt/bitnami/wordpress/wp-config.php

  service:
    type: ClusterIP
  
  # podSecurityContext:
  #   enabled: true
  #   fsGroupChangePolicy: Always
  #   sysctls: []
  #   supplementalGroups: []
  #   fsGroup: 0   # allow file access as root


  # containerSecurityContext:
  #   enabled: true
  #   seLinuxOptions: {}
  #   runAsUser: 0
  #   runAsGroup: 0
  #   runAsNonRoot: false   # IMPORTANT
  #   privileged: false     # keep privileged off unless you really need it
  #   readOnlyRootFilesystem: false  # must be false if you want root to write
  #   allowPrivilegeEscalation: true  # root must be able to escalate
  #   capabilities:
  #     drop: []   # remove drop ALL, or root won't be able to do anything
  #   seccompProfile:
  #     type: "RuntimeDefault"


  ingress:
    enabled: true
    hostname: wp.tks-dev01.tlta.online
    ingressClassName: nginx