global:
  imageRegistry: "public.ecr.aws"
  security:
    ## @param global.security.allowInsecureImages Allows skipping image verification
    allowInsecureImages: false
minio:
  auth: {}
  mode: standalone
  persistence:
    enabled: true
    storageClass: longhorn
    size: 10Gi
  resources:
    limits: 
      cpu: 500m
      memory: 2Gi
    requests:
      cpu: 50m
      memory: 100Mi
  ingress:
    enabled: true
    ingressClassName: nginx
    hostname: minio.tks-cluster.tlta.online