name: Render Helm Manifests

on:
  push:
    paths:
      - 'infrastructure/staging/longhorn/values.yaml' #Add more as needed

jobs:
  detect-and-render:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Detect changed chart
        id: changed
        run: |
          CHARTS=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }} \
            | grep infrastructure/charts/ \
            | cut -d/ -f3 \
            | sort -u \
            | tr '\n' ' ')
          echo "charts=$CHARTS" >> $GITHUB_OUTPUT
          
      - name: Install yq
        run: |
          sudo wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/local/bin/yq
          sudo chmod +x /usr/local/bin/yq
      
      - name: Render Charts
        run: |
          for chart in ${{ steps.changed.outputs.charts }}; do
            echo "Rendering $chart"

            REPO=$(yq '.repo' infrastructure/charts/$chart/chart.yaml)
            CHART=$(yq '.chart' infrastructure/charts/$chart/chart.yaml)
            VERSION=$(yq '.version' infrastructure/charts/$chart/chart.yaml)
            NAMESPACE=$(yq '.namespace' infrastructure/charts/$chart/chart.yaml)

            helm repo add $chart $REPO
            helm repo update

            helm template $chart $chart/$CHART \
              --version $VERSION \
              --namespace $NAMESPACE \
              --create-namespace \
              --values infrastructure/apps/$app/values.yaml \
              > infrastructure/apps/$app/base/rendered.yaml
          done

      - name: Commit rendered manifests
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add infrastructure/rollout/**/**.yaml
          git commit -m "Auto-render updated Helm manifests" || echo "No changes"
          git push
