name: Render Helm Manifests

permissions:
  contents: write

on:
  push:
    paths:
      - 'infrastructure/staging/**/values.yaml'

jobs:
  render:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Install yq
        run: |
          sudo wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/local/bin/yq
          sudo chmod +x /usr/local/bin/yq

      - name: Detect changed charts
        id: changed
        run: |
          CHARTS=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }} \
            | grep infrastructure/staging/ \
            | cut -d/ -f3 \
            | sort -u \
            | tr '\n' ' ')
          echo "charts=$CHARTS" >> $GITHUB_OUTPUT

      - name: Render Charts
        run: |
          for chart in ${{ steps.changed.outputs.charts }}; do
            echo "Rendering $chart"

            # Default namespace
            NAMESPACE="default"

            # If meta.yaml exists, read namespace from it
            if [ -f infrastructure/charts/$chart/meta.yaml ]; then
              NAMESPACE=$(yq '.namespace' infrastructure/charts/$chart/meta.yaml)
            fi

            helm template $chart infrastructure/charts/$chart \
              --values infrastructure/staging/$chart/values.yaml \
              --namespace $NAMESPACE \
              > infrastructure/rollout/$chart.yaml
          done

      - name: Commit rendered manifests
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add infrastructure/rollout/*.yaml
          git commit -m "Auto-render updated Helm manifests" || echo "No changes"
          git push
